/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
