/* здесь используйте глобальные переменные */
// Color
$default-color: #000000;
$default-color-mod: #111111;
$default-color-mod-light: #222222;
$default-lighten-color: #444444;
$light-color: #ffffff;
$light-darken-color: #f2f2f2;
$light-darken-color-mod: #cdcdcd;
$brand-color: #68b738;


// break-point
$mobile-point: 320px;
$tablet-point: 768px;
$desktop-point: 1440px;
