.additional .container {
  padding: 25px 20px 0;

  @media (min-width: $tablet-point) {
    padding: 24px 30px 40px;
  }

  @media (min-width: $desktop-point) {
    padding: 21px 60px 20px;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 81px;
  }
}

.additional__title {
  font-family: $secondary-font;
  font-size: $secondary-middle;
  font-weight: 400;
  line-height: 1;
  position: relative;
  background-color: $light-color;
  padding: 0 40px;
  margin: 0 0 36px -40px;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 100vw;
    box-shadow: 100vw 0 0 0 $brand-color;
    height: 2px;
    background-color: $brand-color;
    z-index: -1;

    @media (min-width: $tablet-point) {
      top: 16px;
    }

    @media (min-width: $desktop-point) {
      top: 20px;
    }
  }

  @media (min-width: $tablet-point) {
    font-size: $quaternary-middle;
    width: fit-content;
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-point) {
    font-size: $secondary-big;
    grid-column: 1/3;
    margin: 0 0 80px -40px;
  }
}
