.additional__title {
  font-family: $secondary-font;
  font-size: $secondary-middle;
  font-weight: 400;
  line-height: 1;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $quaternary-middle;
  }

  @media (min-width: $desktop-point) {
    font-size: $secondary-big;
  }
}
