.additional-product {
  list-style-type: none;
  padding: 0;
  margin: 0 0 35px;

  @media (min-width: $tablet-point) {
    border-left: 1px solid $light-darken-color-mod;
    border-right: 1px solid $light-darken-color-mod;
  }

  @media (min-width: $desktop-point) {
    border: none;
    width: 895px;
    margin: 0;
  }
}

.additional-product__card {
  padding: 13px 0 19px;
  border-bottom: 1px solid $light-darken-color-mod;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:first-child {
    border-top: 1px solid $light-darken-color-mod;
  }

  @media (min-width: $tablet-point) {
    grid-template-columns: 3fr 3fr 1fr;
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-point) {
    grid-template-columns: 1fr 1fr minmax(40px, max-content) 244px;
    column-gap: 40px;
    padding: 12px 0 15px;
    align-items: center;
  }
}

.additional-product__title {
  font-family: $secondary-font;
  font-size: $tertiary-small;
  color: $default-color-mod-light;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 13px;

  @media (min-width: $tablet-point) {
    font-size: $primary-middle;
    grid-column: 1/2;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop-point) {
    margin: 0;
  }
}

.additional-product__term,
.additional-product__definition {
  font-size: $secondary-small;
  line-height: 1;
  color: $default-lighten-color;
  margin: 0 0 15px;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-small;
    line-height: 1.25;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop-point) {
    margin: 0;
    text-align: right;
  }
}

.additional-product__term {
  grid-column: 1/2;

  @media (min-width: $tablet-point) {
    grid-column: 2/3;
  }

  @media (min-width: $desktop-point) {
    text-align: left;
  }
}

.additional-product__definition {
  justify-self: end;

  @media (min-width: $desktop-point) {
    justify-self: left;
  }
}

.additional-product__button {
  grid-column: 1/3;
  padding: 10px 0;

  @media (min-width: $tablet-point) {
    grid-column: 1/4;
  }

  @media (min-width: $desktop-point) {
    grid-column: 4/5;
  }
}
