.banner {
  background-color: $brand-color;

  &::before {
    @include before (80px, 83px, url("../../icons/stack.svg#gift"));
  }
}

.banner__description {
  line-height: 1.25;
  color: $light-color;
  margin: 0;
}
