/* stylelint-disable value-no-vendor-prefix */
.banner {
  @include flex (column, center, center);
  padding: 58px 58px 43px;
  row-gap: 48px;
  background-color: $brand-color;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    -webkit-image-set(
      url("../../images/site/baner-image@1x.webp") 1x,
      url("../../images/site/baner-image@2x.webp") 2x,
      url("../../images/site/baner-image@1x.jpg") 1x,
      url("../../images/site/baner-image@2x.jpg") 2x
    );
  // image-set(
  //   url("../../images/site/baner-image@1x.webp") type("image/webp") 1x,
  //   url("../../images/site/baner-image@2x.webp") type("image/webp") 2x,
  //   url("../../images/site/baner-image@1x.jpg") type("image/jpg") 1x,
  //   url("../../images/site/baner-image@2x.jpg") type("image/jpg") 1x
  // );
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: $tablet-point) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 57px 125px 60px 77px;
    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      -webkit-image-set(
        url("../../images/site/baner-image-tablet@1x.webp") 1x,
        url("../../images/site/baner-image-tablet@2x.webp") 2x,
        url("../../images/site/baner-image-tablet@1x.jpg") 1x,
        url("../../images/site/baner-image-tablet@2x.jpg") 2x
      );
    // image-set(
    //   url("../../images/site/baner-image-tablet@1x.webp") type("image/webp") 1x,
    //   url("../../images/site/baner-image-tablet@2x.webp") type("image/webp") 2x,
    //   url("../../images/site/baner-image-tablet@1x.jpg") type("image/jpg") 1x,
    //   url("../../images/site/baner-image-tablet@2x.jpg") type("image/jpg") 1x
    // );
    background-size: 708px 199px;
  }

  @media (min-width: $desktop-point) {
    @include flex (column, flex-start, center);
    width: 245px;
    padding: 56px 42px 43px;

    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      -webkit-image-set(
        url("../../images/site/baner-image-desktop@1x.webp") 1x,
        url("../../images/site/baner-image-desktop@2x.webp") 2x,
        url("../../images/site/baner-image-desktop@1x.jpg") 1x,
        url("../../images/site/baner-image-desktop@2x.jpg") 2x
      );
    // image-set(
    //   url("../../images/site/baner-image-desktop@1x.webp") type("image/webp") 1x,
    //   url("../../images/site/baner-image-desktop@2x.webp") type("image/webp") 2x,
    //   url("../../images/site/baner-image-desktop@1x.jpg") type("image/jpg") 1x,
    //   url("../../images/site/baner-image-desktop@2x.jpg") type("image/jpg") 1x
    // );
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }

  &::before {
    @include before (78px, 80px, url("../../icons/stack.svg#gift"));

    @media (min-width: $tablet-point) {
      width: 80px;
      height: 82px;
    }
  }
}

.banner__description {
  line-height: 1.25;
  color: $light-color;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-point) {
    width: 161px;
    text-align: left;
  }

  @media (min-width: $desktop-point) {
    text-align: center;
  }
}
