.catalog__title {
  font-family: $secondary-font;
  font-size: $primary-big;
  line-height: 1;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-middle;
  }
}
