.contacts {
  min-width: 320px;

  &--darken {
    background-color: $light-darken-color;
  }

  @media (min-width: $desktop-point) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    justify-content: flex-start;
  }
}

.contacts .container {
  display: grid;

  grid-template-columns: 140px 140px;
  justify-content: center;
  padding: 26px 20px;

  @media (min-width: $tablet-point) {
    grid-template-columns: auto auto;
    gap: 308px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-point) {
    grid-template-columns: 163px 157px;
    width: 565px;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: $light-color;
    padding: 60px 78px 60px 80px;
    margin: 95px 0 106px;
    gap: 87px;
    z-index: 1;
  }
}

.contacts__slogan {
  font-family: $secondary-font;
  color: $default-color-mod;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $primary-middle;
    line-height: 1.3;
  }
}

.contacts__address {
  font-size: $secondary-small;
  font-style: normal;
  color: $default-lighten-color;
  line-height: 1.42;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-small;
    line-height: 1.25;
    text-align: right;
    width: 157px;
  }

  @media (min-width: $desktop-point) {
    text-align: left;
  }
}

.contacts__street {
  margin: 0;

  @media (min-width: $tablet-point) {
    margin-bottom: 20px;
  }
}

.contacts__city {
  margin: 0;
}

.contacts__map {
  margin: 0 auto;
}

.contacts__iframe {
  display: block;
  height: 362px;
  width: 100%;
  border: none;

  @media (min-width: $tablet-point) {
    height: 400px;
  }

  @media (min-width: $desktop-point) {
    grid-column: 1/5;
    grid-row: 1/2;
    height: 100%;
  }
}
