.container {
  margin: 0 auto;

  @media (min-width: $mobile-point) {
    width: 280px;
  }

  @media (min-width: $tablet-point) {
    width: 708px;
  }

  @media (min-width: $desktop-point) {
    width: 1220px;
  }
}
