.contacts__slogan {
  font-family: $secondary-font;
  color: $default-color-mod;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $primary-middle;
    line-height: 1.3;
  }
}

.contacts__address {
  font-size: $secondary-small;
  font-style: normal;
  color: $default-lighten-color;
  line-height: 1.42;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-small;
    line-height: 1.25;
  }
}

.contacts__street {
  margin: 0;
}

.contacts__city {
  margin: 0;
}
