.example {
  min-width: 320px;

  background-color: $light-darken-color-bg;


  @media (min-width: $tablet-point) {
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to top, rgba(242, 242, 242, 1) 462px, transparent 462px);
      z-index: -1;

      /* stylelint-disable-next-line max-nesting-depth */
      @media (min-width: $desktop-point) {
        background-image: linear-gradient(to bottom, transparent 155px, rgba(242, 242, 242, 1) 155px);
      }
    }
  }
}

.example .container {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-point) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-point) {
    padding: 19px 60px 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: $primary-big;
  font-weight: 400;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-big;
    line-height: 1;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-point) {
    margin-bottom: 142px;
  }
}

.example__description {
  font-size: $secondary-small;
  color: $default-lighten-color;
  line-height: 1.28;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-small;
    line-height: 1.5;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-point) {
    width: 436px;
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-point) {
    @include flex;
    margin-bottom: 99px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-point) {
    flex-direction: column;
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.example__stats {
  // @include flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  @media (min-width: $tablet-point) {
    grid-template-columns: 162px 162px;
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop-point) {
    gap: 42px;
    margin-bottom: 55px;
  }
}

.example__stats-wrapper {
  @include flex (column, flex-start);
}

.example__term {
  font-size: $primary-small;
  line-height: 1;
  color: $default-lighten-color;
  text-transform: lowercase;
  position: relative;
  top: -9px;
  background-color: $light-darken-color-bg;
  order: 1;
  width: 70%;
  padding: 0 10%;
  text-align: center;

  @media (min-width: $tablet-point) {
    font-size: $secondary-small;
    width: auto;
    padding: 0 5%;
    background-color: $light-color;
  }

  @media (min-width: $desktop-point) {
    background-color: $light-darken-color;
  }
}

.example__definition {
  font-family: $secondary-font;
  font-size: $secondary-middle;
  line-height: 1;
  text-transform: uppercase;

  @include flex (row, center);
  border: 1px solid $accent-color-light;
  border-radius: 4px;
  width: 124px;
  min-height: 56px;
  padding: 10px;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-middle;
    line-height: 1.23;
    width: 162px;
    padding: 15px;
  }
}

.example__wrapper-row {
  font-family: $secondary-font;
  font-size: $secondary-small;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-point) {
    font-size: $primary-middle;
    line-height: 1;
    width: 174px;
    text-align: right;
    padding: 11px 0 0;
    margin: 0;
  }

  @media (min-width: $desktop-point) {
    padding: 0;
    width: auto;

    @include flex;
    column-gap: 63px;
    flex-wrap: wrap;
  }
}

// Слайдер

.example__slider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 280px;
  height: 256px;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: $tablet-point) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-point) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.example__slider-before {
  grid-column: 1/2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.example__slider-after {
  grid-column: 3/4;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.example__slider-button {
  grid-column: 2/3;
  width: 4px;
  background-color: $accent-color;
  border-radius: 4px;
  padding: 0;
  border: none;
  position: relative;
  cursor: col-resize;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: $light-color;
    border-radius: 50%;
    border: 2px solid $accent-color;
    position: absolute;
    top: calc(50% - 20px);
    left: -18px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-button-inner");
    background-color: $accent-color;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    top: calc(50% - 9px);
    left: -10px;
  }

  &:hover::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &:hover,
  &:hover::after {
    background-color: $brand-color;
  }

  &:active,
  &:active::after {
    background-color: rgba(94, 170, 47, 0.6);
  }
}
