.main-nav {
  font-family: $secondary-font;
  font-size: $primary-middle;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-point) {
    font-size: $quaternary-small;
    line-height: 1.33;
  }

  @media (min-width: $desktop-point) {
    font-size: $primary-middle;
    line-height: 1;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  position: relative;
  cursor: pointer;
  background-color: $light-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $default-color;
    transition: 0.3s;
  }

  &::before {
    top: 4px;
    right: 0;
  }

  &::after {
    bottom: 4px;
    left: 0;
  }

  // Анимация

  &.active .main-nav__toggle-wrapper {
    transform: scale(0);
  }

  &.active::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }

  &.active::after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-point) {
    display: none;
  }
}

.main-nav__toggle-wrapper {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $default-color;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
