.product {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product__title {
  font-family: $secondary-font;
  font-size: 16px;
  color: $default-color-mod-light;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.product__stats {
  font-size: 12px;
  color: $default-lighten-color;
  line-height: 1.33;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.product__card--more {
  .product__title {
    color: $default-color-mod;
  }

  .product__description {
    color: $default-lighten-color;
    margin: 0;

    @media (min-width: $tablet-point) {
      line-height: 1.12;
    }
  }
}
