.program__catalog {
  background-color: $light-darken-color;

  &--slim::before {
    @include before (50px, 53px, url("../../icons/stack.svg#cat"));

    @media (min-width: $tablet-point) {
      width: 200px;
      height: 211px;
    }

    @media (min-width: $desktop-point) {
      width: 100px;
      height: 106px;
    }
  }

  &--pro::before {
    @include before (67px, 50px, url("../../icons/stack.svg#cat-walk"));

    @media (min-width: $tablet-point) {
      width: 268px;
      height: 200px;
    }

    @media (min-width: $desktop-point) {
      width: 134px;
      height: 100px;
    }
  }
}

.program__title {
  font-family: $secondary-font;
  font-size: $secondary-middle;
  line-height: 1.54;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $primary-big;
    line-height: 1;
  }
}

.program__description {
  font-size: $secondary-small;
  line-height: 1.28;
  color: $default-lighten-color;
  margin: 0;

  @media (min-width: $tablet-point) {
    font-size: $tertiary-small;
    color: $default-color;
    line-height: 1.5;
  }
}

.program__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $secondary-font;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-point) {
    font-size: 20px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 27px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow");
    background-position: -8px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus-visible::after {
    background-position: center;
    transition: 0.4s;
  }

  &:active {
    opacity: 0.3;
  }
}
