.promo .container {
  padding: 40px 20px;

  @media (min-width: $tablet-point) {
    padding: 40px 30px 80px;
  }

  @media (min-width: $tablet-point) {
    padding: 76px 60px 96px;
  }
}

.promo__title {
  font-family: $secondary-font;
  font-size: $secondary-middle;
  color: $default-color;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 32px;

  @media (min-width: $tablet-point) {
    font-size: $quaternary-middle;
    padding: 0 40px;
    margin: 0 0 66px;
  }

  @media (min-width: $desktop-point) {
    font-size: $secondary-big;
    padding: 0;
    margin: 0 0 72px;
  }
}

.promo__description {
  font-family: $secondary-font;
  text-align: center;
  margin: 0 0 24px;

  @media (min-width: $tablet-point) {
    font-size: $secondary-middle;
    line-height: 1.33;
    padding: 0 38px;
  }
}

.promo__form {
  @media (min-width: $tablet-point) {
    padding: 0 38px;
    display: grid;
    grid-template-columns: 1fr 256px;
  }

  @media (min-width: $desktop-point) {
    padding: 0 234px;
  }
}

.promo__email {
  font-family: $secondary-font;
  font-size: $primary-middle;
  text-transform: uppercase;
  color: $default-lighten-color;
  border: 1px solid $border-color;
  width: 100%;
  padding: 13px;
  margin: 0 0 16px;

  @media (min-width: $tablet-point) {
    margin: 0;
  }

  &:hover {
    border-color: $light-darken-color-mod;
  }

  &:user-invalid {
    outline: 2px solid $error;
  }
}

.promo__button {
  width: 100%;
  padding: 14px 26px;
}
